/*Liste des applications favorites */
.sortable {
    list-style-type: none;
    margin: 0;
    padding-bottom: 80px;
    width: 80%;
}

.sortable li {
    list-style: none;
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1em;
    height: 18px;
}

.sortable li span div {
    position: absolute;
    margin-left: -1.3em;
}

.sortable .deactivated {
    color: #7f7f7f;
}

/*Liste des domaines et applications autorisées*/
.sidebar ul ul {
    display: none;
}

.sidebar ul li {
    list-style-type: none;
    background: #dfeffc;
    font-weight: bold;
    color: #2e6e9e;
    padding: 2px;
}

.sidebar ul li a,
.sidebar ul li a:link,
.sidebar ul li a:visited {
    color: #2e6e9e;
    text-decoration: none;
}

/*Div d'informations sur l'application*/
.dropdown {
    display: none;
    position: absolute;
    border:1px solid #ccc;
    padding: 10px;
    width: 400px;
    font-weight: bold;
    font-size: 0.8em;
    color: #ffffff;
    background-color: #2e6e9e;
}

.dropdown button { padding: .5em 1em; text-decoration: none; }

.addfav {
    float: right;
}

.result-title {
    font-weight: bold;
    color: #2e6e9e;
    margin-left: 2.5em;
}

/*alert de modification de la liste des applications favorites*/
.alertContainer {
    height : 30px;
}

.alert {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: .5em 1em;
}
.alert-success {
    background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
    border-color: #b2dba1;
}
.alert-info {
    background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
    border-color: #9acfea;
}
.alert-warning {
    background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
    background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
    border-color: #f5e79e;
}
.alert-danger {
    background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
    background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    border-color: #dca7a7;
}
.alert-dropdown {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: .5em 1em;
    background-image: -webkit-linear-gradient(top, #89b7d8 0%, #6ca5ce 100%);
    background-image: linear-gradient(to bottom, #89b7d8 0%, #6ca5ce 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    border-color: #81b1d5;
}

.alert button {
    float: right;
}

.sidebar .ui-icon-play {
    float: left;
}


